$textColor: white;
%align-bothSide {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  color: $textColor;
  background-image: linear-gradient(
    to bottom,
    #68177b,
    #751b8a,
    #821e98,
    #8f22a8,
    #9c26b7
  );
  height: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 7vw !important;
  padding-right: 7vw !important;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navTitle {
  display: flex;
  align-items: center;
}
.logo {
  width: 50px;
  color: white;
  margin-right: 10px;
}
.noti-style {
  width: 5vw;
  @extend %align-bothSide;
}
.dropdown-menu {
  width: 50vw;
}
.dropdown-item {
  max-width: 80vw;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.btn-outline-light {
  border: none !important;
  border-radius: 50px;
  margin-left: 5px;
}
.btn-outline-light:hover {
  border-radius: 50px;
}
.main-body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  padding-top: 7vh;
}
.img-fluid {
  width: 40% !important;
  transform: rotateY(180deg);
  opacity: 0.5;
  position: absolute;
  z-index: 0;
  bottom: 1rem;
  left: 1rem;
}
.pagination-style {
  padding-top: 10px;
  padding-bottom: 10px;
  @extend %align-bothSide;
  .pagination {
    margin-bottom: 0 !important;
  }
  .page-link {
    color: #68177b !important;
    border: none !important;
    margin: 5px;
    span {
      font-size: 30px;
    }
  }
}

.issue-wrap {
  @extend %align-bothSide;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5px;
}
.active {
  background-color: #b27abe67;
}
.issue-img-wrap {
  width: 5.5rem;
  height: auto;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.issue-detail {
  border: 1px solid #8f22a8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 55vw;
  margin-left: 5px;
  @extend %align-bothSide;
  flex-wrap: wrap;
  flex-direction: column;
  word-break: break-all;
  padding: 5px;
}

.load-style {
  width: 100vw;
  display: flex;
  justify-content: center;
}
